.gallery {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
}
.gallery-image {
  width: 360px;
  height: 300px;
}
